<header>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerElement">
    </button>
   </div>
   <div class="collapse navbar-collapse" id="headerElement">
    <ul class="nav navbar-nav">
     <%= link_to "ブログ", blogs_path, class: "navbar-brand" %>
    </ul>
    <ul class="navbar-text navbar-right">
    <% binding.pry %>
     <% if logged_in? %>
      <%= current_user.name %>
      <%= link_to "プロフィール", current_user %>
      <%= link_to "ログアウト", logout_path, method: :delete %>
     <% else %>
      <%= link_to "ログイン", login_path %>
     <% end %>
    </ul>
   </div>
  </div>
 </nav>
</header>

